- title "编辑 #{@page.name}"

%h1= title
%form{:method => 'POST', :action => "/#{@page}"}
  %p
    %textarea{:name => 'body', :rows => 30, :style => "width: 100%"}= @page.content
  %p
    %label 页面注解
    %input{:name => 'commit_message', :type => :text, :size => '80'}
  %p
    %input.submit{:type => :submit, :value => "保存一个新的版本"}
    或者
    %a.cancel{:href=>"/#{@page}"} 取消